X_BEARER_TOKEN=
X_STREAM_RULE='("Jalen Brunson" OR Brunson OR @jalenbrunson1 OR #JalenBrunson) lang:en -is:retweet'
X_RULE_TAG=jalen-brunson-v1
ENABLE_BACKGROUND_WORKERS=false
KAFKA_BROKERS=localhost:9092
KAFKA_BRUNSON_TWEETS_TOPIC=brunson-tweets
METRICS_WINDOW_MINUTES=15
